img {
  width: 100px;
  height: 50px;
}

table tr {
  background-color: black;
  color: white;
  text-align: center;
  margin-right: 5cm;
}

table td {
  text-align: center;
  background-color: white;
  color: black;
}
