<div>
  <div class="card">
    <div class="card-head bg-danger">Mirai Ni Taishite</div>
    <div class="card-body">
      <h3>Armas</h3>
      <ul>
        <li>
          Base :
          <img
            src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQc38q5Goj2eILK8VrrZ89etGIQDlZFmZ2P-Q&usqp=CAU"
            alt=""
          />
          Arma com longo alcance, 4 tiros por segundo e 1 de dano causado!
        </li>
        <li>Metralhadora</li>
        <li>Escopeta</li>
        <li>Lança-Chamas</li>
        <li>Lança-Granadas</li>
        <li>Rifle</li>
        <li>Bazuca</li>
        <li>Laser</li>
      </ul>
      <table class="table table-hover table-striped table-bordered w-auto">
        <tr>
          <strong>Peso</strong>
          <td>Leve</td>
          <td>Médio</td>
          <td>Pesado</td>
        </tr>
        <tr>
          <strong>Tempo de Recarga</strong>
          <td>Lento</td>
          <td>Médio</td>
          <td>Rápido</td>
        </tr>
        <tr>
          <strong>Velocidade do Tiro</strong>
          <td>Médio</td>
          <td>Rápido</td>
          <td>Muito Rápido</td>
        </tr>
        <tr>
          <strong>Dano</strong>
          <td>Baixo</td>
          <td>Médio</td>
          <td>Alto</td>
        </tr>
      </table>
      <br /><br />
      <ul>
        <div class="text-success">Peso</div>
        <li>Leve > Pode atirar em qualquer momento.</li>
        <li>Médio > Não pode atirar enquanto estiver no ar.</li>
        <li>Pesado > Só pode atirar parado.</li>
      </ul>
      <ul>
        <div class="text-success">Tempo de Recarga</div>
        <li>Lento > 1 tiro a cada 3 segundos.</li>
        <li>Médio > 1 tiro a cada 2 segundos.</li>
        <li>Rápido > 1 tiro a cada segundo</li>
      </ul>
      <ul>
        <div class="text-success">Velocidade do Tiro</div>
        <li>Médio > Velocidade 1 de tiro.</li>
        <li>Rápido >Velocidade 2 de tiro</li>
        <li>Muito Rápido > Velocidade 3 de tiro</li>
      </ul>
      <ul>
        <div class="text-success">Dano</div>
        <li>Baixo > Tira 1 de vida por munição.</li>
        <li>Baixo > Tira 3 de vida por munição.</li>
        <li>Alto > Tira 5 de vida por munição.</li>
      </ul>

      <h3>Inimigos</h3>
      <ul>
        <li>
          <img
            src="/MiraiNiTaishite/imagens/05e3b151-b2c4-4090-9060-2f7e2e32cb6c.png"
            alt=""
          />
          Alien
        </li>
        <li><img src="" alt="" /></li>
        <li><img src="" alt="" /></li>
        <li><img src="" alt="" /></li>
        <li><img src="" alt="" /></li>
        <li><img src="" alt="" /></li>
        <li><img src="" alt="" /></li>
        <li><img src="" alt="" /></li>
        <li><img src="" alt="" /></li>
        <li><img src="" alt="" /></li>
        <li><img src="" alt="" /></li>
        <li><img src="" alt="" /></li>
        <li><img src="" alt="" /></li>
        <li><img src="" alt="" /></li>
        <li><img src="" alt="" /></li>
        <li><img src="" alt="" /></li>
      </ul>
    </div>
  </div>
</div>
